

/**
* @author: shadow
* @filename:
*/

#head h1 {
	text-align: center;

	background: teal;
	color: white;
}


.pause #img-title {
    font-style: italic;
    color: white;
}

body {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0px;
}
#main {
	#background: azure;
	text-align: center;

	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	position: fixed;

	margin: auto;
	text-align: center;

	min-height: 64px;
	display: flex;
}



#footer {
	text-align: right;
	font-size: 14px;

	font-style:italic;
}

body {
	background: transparent;


}

/* add transition */

#main #image-box {
	transition: opacity 5s;
	margin: auto;
	-webkit-app-region: drag;
}

#image-box.full-height {
		height: 100%;
}
#image-box.full-width {
		width: 100%;
}
#img-title {
	font-size:normal;
	color: gray;

	position: absolute;
	z-index: 10;
	top: 0px;
	color: #fff;
	opacity: .5;
	text-align: center;
	margin: auto;
	width: 100%;
}

#img-title:hover {
	opacity: 1;
	background: orange;
}
